In [1]:
from flask import Flask, jsonify,  make_response, after_this_request, render_template, redirect, request
from flask_sqlalchemy import SQLAlchemy
import numpy as np
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func
import pandas as pd

In [2]:
engine = create_engine(f"postgresql://postgres:postgres@localhost:5432/WineAndDined")

In [3]:
# reflect an existing database into a new model
Base = automap_base()

# reflect the tables
Base.prepare(engine, reflect=True)

In [4]:
CheeseFlavors = Base.classes.cheeseflavors
CheeseData = Base.classes.cheesedata
FlavorLookups = Base.classes.flavorlookups
WineCheesePairingData = Base.classes.winecheesepairingdata
Wines = Base.classes.wines
Wineries = Base.classes.wineries
WorldMeats = Base.classes.worldmeats

In [5]:
# Create session
session=Session(engine)

In [6]:
tableQ=session.query(Wines.winery, Wines.vintage, Wines.points).filter(Wines.county=="Green Valley").order_by(Wines.vintage)
orderDict=[]
for winery, vintage, points in tableQ:
    order_dict={}
    order_dict["winery"]=winery
    order_dict["vintage"]=vintage
    order_dict["points"]=points
    orderDict.append(order_dict)
    ##print(county)

session.close()
wineVint=pd.DataFrame.from_dict(orderDict)
wineVint
#print(orderDict)

                 winery  vintage  points
0            Iron Horse     1997      97
1            Iron Horse     1997      90
2            Sebastopol     2000      90
3            Iron Horse     2006      89
4            Iron Horse     2006      87
5            Iron Horse     2007      86
6   Loring Wine Company     2007      85
7            Iron Horse     2007      88
8            Iron Horse     2008      91
9            Iron Horse     2008      91
10           Iron Horse     2008      87
11           Iron Horse     2008      92
12           Iron Horse     2008      90
13           Iron Horse     2008      88
14           Iron Horse     2009      91
15                 Novy     2009      87
16               Siduri     2009      90
17           Iron Horse     2010      92
18           Iron Horse     2010      93
19              Sequana     2010      93
20           Iron Horse     2011      91
21           Iron Horse     2011      91
22           River Road     2011      84
23           Iron Horse     2012      95
24           Iron Horse     2012      93
25     Dutton-Goldfield     2012      93
26           Iron Horse     2012      90
27           Iron Horse     2012      92
28  Loring Wine Company     2012      92
29     Dutton-Goldfield     2013      93
30         Wait Cellars     2013      91
31                Krutz     2013      92
32           Iron Horse     2013      94
33     Dutton-Goldfield     2013      92
34              Barnett     2013      90
35             La Crema     2014      93
36             En Garde     2014      90
37            Ron Rubin     2014      91
38            MacRostie     2014      90
39           River Road     2014      90
40           River Road     2014      82
41           Iron Horse     2014      91
42     Dutton-Goldfield     2014      91
43           Iron Horse     2014      88
44       Tessier Winery     2015      90
45            Ron Rubin     2015      91

In [7]:
justWineries=session.query(Wines.winery).filter(Wines.county=="Green Valley").group_by(Wines.winery)
wineDict=[]
for winery in justWineries:
    order_dict={}
    order_dict["winery"]=winery
    wineDict.append(order_dict)
    print(winery)

session.close()
#print(wineDict)

('Barnett',)
('Dutton-Goldfield',)
('En Garde',)
('Iron Horse',)
('Krutz',)
('La Crema',)
('Loring Wine Company',)
('MacRostie',)
('Novy',)
('River Road',)
('Ron Rubin',)
('Sebastopol',)
('Sequana',)
('Siduri',)
('Tessier Winery',)
('Wait Cellars',)

In [8]:
wineries = pd.DataFrame.from_dict(justWineries)
wineries=wineries.drop(11)
wineries=wineries.drop(14)
wineries

                 winery
0               Barnett
1      Dutton-Goldfield
2              En Garde
3            Iron Horse
4                 Krutz
5              La Crema
6   Loring Wine Company
7             MacRostie
8                  Novy
9            River Road
10            Ron Rubin
12              Sequana
13               Siduri
15         Wait Cellars

In [9]:
cities=["Saint Helena", "Sebastopol", " Glen Ellen","Sebastopol", "Santa Rosa", "Windsor", "Lompoc", "Healdsburg", "Healdsburg", "Guttenberg", "Sebastopol", "Sebastopol", "Healdsburg", "San Francisco"]

In [10]:
wineries['cities']=cities
wineries

                 winery         cities
0               Barnett   Saint Helena
1      Dutton-Goldfield     Sebastopol
2              En Garde     Glen Ellen
3            Iron Horse     Sebastopol
4                 Krutz     Santa Rosa
5              La Crema        Windsor
6   Loring Wine Company         Lompoc
7             MacRostie     Healdsburg
8                  Novy     Healdsburg
9            River Road     Guttenberg
10            Ron Rubin     Sebastopol
12              Sequana     Sebastopol
13               Siduri     Healdsburg
15         Wait Cellars  San Francisco

In [11]:
wineVint= pd.merge(wineVint, wineries, how='left', on='winery')
wineVint = wineVint.dropna(subset=['cities'])
wineVint

                 winery  vintage  points         cities
0            Iron Horse     1997      97     Sebastopol
1            Iron Horse     1997      90     Sebastopol
3            Iron Horse     2006      89     Sebastopol
4            Iron Horse     2006      87     Sebastopol
5            Iron Horse     2007      86     Sebastopol
6   Loring Wine Company     2007      85         Lompoc
7            Iron Horse     2007      88     Sebastopol
8            Iron Horse     2008      91     Sebastopol
9            Iron Horse     2008      91     Sebastopol
10           Iron Horse     2008      87     Sebastopol
11           Iron Horse     2008      92     Sebastopol
12           Iron Horse     2008      90     Sebastopol
13           Iron Horse     2008      88     Sebastopol
14           Iron Horse     2009      91     Sebastopol
15                 Novy     2009      87     Healdsburg
16               Siduri     2009      90     Healdsburg
17           Iron Horse     2010      92     Sebastopol
18           Iron Horse     2010      93     Sebastopol
19              Sequana     2010      93     Sebastopol
20           Iron Horse     2011      91     Sebastopol
21           Iron Horse     2011      91     Sebastopol
22           River Road     2011      84     Guttenberg
23           Iron Horse     2012      95     Sebastopol
24           Iron Horse     2012      93     Sebastopol
25     Dutton-Goldfield     2012      93     Sebastopol
26           Iron Horse     2012      90     Sebastopol
27           Iron Horse     2012      92     Sebastopol
28  Loring Wine Company     2012      92         Lompoc
29     Dutton-Goldfield     2013      93     Sebastopol
30         Wait Cellars     2013      91  San Francisco
31                Krutz     2013      92     Santa Rosa
32           Iron Horse     2013      94     Sebastopol
33     Dutton-Goldfield     2013      92     Sebastopol
34              Barnett     2013      90   Saint Helena
35             La Crema     2014      93        Windsor
36             En Garde     2014      90     Glen Ellen
37            Ron Rubin     2014      91     Sebastopol
38            MacRostie     2014      90     Healdsburg
39           River Road     2014      90     Guttenberg
40           River Road     2014      82     Guttenberg
41           Iron Horse     2014      91     Sebastopol
42     Dutton-Goldfield     2014      91     Sebastopol
43           Iron Horse     2014      88     Sebastopol
45            Ron Rubin     2015      91     Sebastopol

In [14]:
uniqueVintCityPoints = wineVint.drop_duplicates(subset=['vintage', 'cities','points'], keep='first').reset_index()
uniqueVintCity=uniqueVintCityPoints.drop_duplicates(subset=['vintage', 'cities'], keep='first').reset_index()
uniqueVintCity.drop(columns=['index'], inplace=True)
uniqueVintCity

    level_0               winery  vintage  points         cities
0         0           Iron Horse     1997      97     Sebastopol
1         2           Iron Horse     2006      89     Sebastopol
2         4           Iron Horse     2007      86     Sebastopol
3         5  Loring Wine Company     2007      85         Lompoc
4         7           Iron Horse     2008      91     Sebastopol
5        12           Iron Horse     2009      91     Sebastopol
6        13                 Novy     2009      87     Healdsburg
7        15           Iron Horse     2010      92     Sebastopol
8        17           Iron Horse     2011      91     Sebastopol
9        18           River Road     2011      84     Guttenberg
10       19           Iron Horse     2012      95     Sebastopol
11       23  Loring Wine Company     2012      92         Lompoc
12       24     Dutton-Goldfield     2013      93     Sebastopol
13       25         Wait Cellars     2013      91  San Francisco
14       26                Krutz     2013      92     Santa Rosa
15       29              Barnett     2013      90   Saint Helena
16       30             La Crema     2014      93        Windsor
17       31             En Garde     2014      90     Glen Ellen
18       32            Ron Rubin     2014      91     Sebastopol
19       33            MacRostie     2014      90     Healdsburg
20       34           River Road     2014      90     Guttenberg
21       37            Ron Rubin     2015      91     Sebastopol

In [15]:
uniqueVintCity.drop(columns=['level_0'], inplace=True)
uniqueVintCity

                 winery  vintage  points         cities
0            Iron Horse     1997      97     Sebastopol
1            Iron Horse     2006      89     Sebastopol
2            Iron Horse     2007      86     Sebastopol
3   Loring Wine Company     2007      85         Lompoc
4            Iron Horse     2008      91     Sebastopol
5            Iron Horse     2009      91     Sebastopol
6                  Novy     2009      87     Healdsburg
7            Iron Horse     2010      92     Sebastopol
8            Iron Horse     2011      91     Sebastopol
9            River Road     2011      84     Guttenberg
10           Iron Horse     2012      95     Sebastopol
11  Loring Wine Company     2012      92         Lompoc
12     Dutton-Goldfield     2013      93     Sebastopol
13         Wait Cellars     2013      91  San Francisco
14                Krutz     2013      92     Santa Rosa
15              Barnett     2013      90   Saint Helena
16             La Crema     2014      93        Windsor
17             En Garde     2014      90     Glen Ellen
18            Ron Rubin     2014      91     Sebastopol
19            MacRostie     2014      90     Healdsburg
20           River Road     2014      90     Guttenberg
21            Ron Rubin     2015      91     Sebastopol

In [15]:
import requests
import json

In [52]:
apiKey='d20bc43719714d2a9a410907210203'
city='Sebastopol'
year='2015'
startDate=f'{year}-03-01'
endDate=f'{year}-08-31'
apiURL=f'http://api.worldweatheronline.com/premium/v1/past-weather.ashx?key={apiKey}&q={city}&format=json&date={startDate}&enddate={endDate}&tp=24'
print(apiURL)

http://api.worldweatheronline.com/premium/v1/past-weather.ashx?key=d20bc43719714d2a9a410907210203&q=Sebastopol&format=json&date=2015-03-01&enddate=2015-08-31&tp=24

In [53]:
weather = requests.get(apiURL).json()

In [66]:
print(len(weather['data']['weather']))

35

In [45]:
precip=0
tempLow=0
tempHigh=0
tempAvg=0
cloudiness=0
humidity=0
for x in range(0,31):
    tempHigh+=int(weather['data']['weather'][x]['maxtempF'])
    tempLow+=int(weather['data']['weather'][x]['mintempF'])
    tempAvg+=int(weather['data']['weather'][x]['avgtempF'])
    precip+=float(weather['data']['weather'][x]['hourly'][0]['precipInches'])
    humidity+=int(weather['data']['weather'][x]['hourly'][0]['humidity'])
    cloudiness+=int(weather['data']['weather'][x]['hourly'][0]['cloudcover'])
print("March data:")
print (tempLow/31, tempHigh/31, tempAvg/31, precip, cloudiness/31, humidity/31)
    
precip=0
tempLow=0
tempHigh=0
tempAvg=0
cloudiness=0
humidity=0
for x in range(31,61):
    tempHigh+=int(weather['data']['weather'][x]['maxtempF'])
    tempLow+=int(weather['data']['weather'][x]['mintempF'])
    tempAvg+=int(weather['data']['weather'][x]['avgtempF'])
    precip+=float(weather['data']['weather'][x]['hourly'][0]['precipInches'])
    humidity+=int(weather['data']['weather'][x]['hourly'][0]['humidity'])
    cloudiness+=int(weather['data']['weather'][x]['hourly'][0]['cloudcover'])
print("April data:")
print (tempLow/31, tempHigh/31, tempAvg/31, precip, cloudiness/31, humidity/31)

49.61290322580645 69.12903225806451 61.54838709677419 0.5 47.83870967741935 68.87096774193549

In [72]:
year='2015'
city='Sebastopol'
months=["March", "April", "May", "June", "July", "August"]
monthNum=['03','04','05', '06', '07', '08']
monthDay=['31','30','31','30','31','31']
apiKey='d20bc43719714d2a9a410907210203'
for i in range(0,6):
    startDate=f'{year}-{monthNum[i]}-01'
    endDate=f'{year}-{monthNum[i]}-{monthDay[i]}'
    apiURL=f'http://api.worldweatheronline.com/premium/v1/past-weather.ashx?key={apiKey}&q={city}&format=json&date={startDate}&enddate={endDate}&tp=24'
    weather = requests.get(apiURL).json()
    precip=0
    tempLow=0
    tempHigh=0
    tempAvg=0
    cloudiness=0
    humidity=0
    for x in range(0,int(monthDay[i])):
        tempHigh+=int(weather['data']['weather'][x]['maxtempF'])
        tempLow+=int(weather['data']['weather'][x]['mintempF'])
        tempAvg+=int(weather['data']['weather'][x]['avgtempF'])
        precip+=float(weather['data']['weather'][x]['hourly'][0]['precipInches'])
        humidity+=int(weather['data']['weather'][x]['hourly'][0]['humidity'])
        cloudiness+=int(weather['data']['weather'][x]['hourly'][0]['cloudcover'])
    print(f'{months[i]} Data:')
    print (tempLow/int(monthDay[i]), tempHigh/int(monthDay[i]), tempAvg/int(monthDay[i]), precip, cloudiness/int(monthDay[i]), humidity/int(monthDay[i]))

March Data:
49.61290322580645 69.12903225806451 61.54838709677419 0.5 47.83870967741935 68.87096774193549
April Data:
44.96666666666667 59.63333333333333 53.96666666666667 1.0999999999999999 63.53333333333333 78.36666666666666
May Data:
43.25806451612903 54.225806451612904 50.03225806451613 2.2000000000000006 65.09677419354838 81.48387096774194
June Data:
38.666666666666664 51.4 46.7 0.5 70.26666666666667 86.53333333333333
July Data:
36.32258064516129 48.12903225806452 43.70967741935484 2.6000000000000005 66.96774193548387 84.70967741935483
August Data:
36.935483870967744 50.064516129032256 45.225806451612904 2.2 75.38709677419355 84.64516129032258

In [16]:
def getWeatherData(year, city, month):
    cityNew=f'{city}, CA'
    monthDays={"March":31,"April":30,"May":31,"June":30,"July":31,"August":31}
    monthNum={"March":'03',"April":'04',"May":'05',"June":'06',"July":'07',"August":'08'}
    startDate=f'{year}-{monthNum[month]}-01'
    endDate=f'{year}-{monthNum[month]}-{monthDays[month]}'
    apiKey='d20bc43719714d2a9a410907210203'
    apiURL=f'http://api.worldweatheronline.com/premium/v1/past-weather.ashx?key={apiKey}&q={cityNew}&format=json&date={startDate}&enddate={endDate}&tp=24'
    weather = requests.get(apiURL).json()
    precip=0
    tempLow=0
    tempHigh=0
    tempAvg=0
    cloudiness=0
    humidity=0
    for x in range(0,monthDays[month]):
        tempHigh+=int(weather['data']['weather'][x]['maxtempF'])
        tempLow+=int(weather['data']['weather'][x]['mintempF'])
        tempAvg+=int(weather['data']['weather'][x]['avgtempF'])
        precip+=float(weather['data']['weather'][x]['hourly'][0]['precipInches'])
        humidity+=int(weather['data']['weather'][x]['hourly'][0]['humidity'])
        cloudiness+=int(weather['data']['weather'][x]['hourly'][0]['cloudcover'])
    returnData=[tempHigh/monthDays[month],tempLow/monthDays[month],tempAvg/monthDays[month],precip,humidity/monthDays[month],cloudiness/monthDays[month]]
    return returnData

In [17]:
uniqueVintCity["MarchLowTemp"]=""
uniqueVintCity["MarchHighTemp"]=""
uniqueVintCity["MarchAvgTemp"]=""
uniqueVintCity["MarchPrecip"]=""
uniqueVintCity["MarchCloudiness"]=""
uniqueVintCity["MarchHumidity"]=""

uniqueVintCity["AprilLowTemp"]=""
uniqueVintCity["AprilHighTemp"]=""
uniqueVintCity["AprilAvgTemp"]=""
uniqueVintCity["AprilPrecip"]=""
uniqueVintCity["AprilCloudiness"]=""
uniqueVintCity["AprilHumidity"]=""

uniqueVintCity["MayLowTemp"]=""
uniqueVintCity["MayHighTemp"]=""
uniqueVintCity["MayAvgTemp"]=""
uniqueVintCity["MayPrecip"]=""
uniqueVintCity["MayCloudiness"]=""
uniqueVintCity["MayHumidity"]=""

uniqueVintCity["MayLowTemp"]=""
uniqueVintCity["MayHighTemp"]=""
uniqueVintCity["MayAvgTemp"]=""
uniqueVintCity["MayPrecip"]=""
uniqueVintCity["MayCloudiness"]=""
uniqueVintCity["MayHumidity"]=""

uniqueVintCity["JuneLowTemp"]=""
uniqueVintCity["JuneHighTemp"]=""
uniqueVintCity["JuneAvgTemp"]=""
uniqueVintCity["JunePrecip"]=""
uniqueVintCity["JuneCloudiness"]=""
uniqueVintCity["JuneHumidity"]=""

uniqueVintCity["JulyLowTemp"]=""
uniqueVintCity["JulyHighTemp"]=""
uniqueVintCity["JulyAvgTemp"]=""
uniqueVintCity["JulyPrecip"]=""
uniqueVintCity["JulyCloudiness"]=""
uniqueVintCity["JulyHumidity"]=""

uniqueVintCity["AugLowTemp"]=""
uniqueVintCity["AugHighTemp"]=""
uniqueVintCity["AugAvgTemp"]=""
uniqueVintCity["AugPrecip"]=""
uniqueVintCity["AugCloudiness"]=""
uniqueVintCity["AugHumidity"]=""

uniqueVintCity

,winery,vintage,points,cities,MarchLowTemp,MarchHighTemp,MarchAvgTemp,MarchPrecip,MarchCloudiness,MarchHumidity,...,JulyAvgTemp,JulyPrecip,JulyCloudiness,JulyHumidity,AugLowTemp,AugHighTemp,AugAvgTemp,AugPrecip,AugCloudiness,AugHumidity
0,Iron Horse,1997,97,Sebastopol,,,,,,,...,,,,,,,,,,
1,Iron Horse,2006,89,Sebastopol,,,,,,,...,,,,,,,,,,
2,Iron Horse,2007,86,Sebastopol,,,,,,,...,,,,,,,,,,
3,Loring Wine Company,2007,85,Lompoc,,,,,,,...,,,,,,,,,,
4,Iron Horse,2008,91,Sebastopol,,,,,,,...,,,,,,,,,,
5,Iron Horse,2009,91,Sebastopol,,,,,,,...,,,,,,,,,,
6,Novy,2009,87,Healdsburg,,,,,,,...,,,,,,,,,,
7,Iron Horse,2010,92,Sebastopol,,,,,,,...,,,,,,,,,,
8,Iron Horse,2011,91,Sebastopol,,,,,,,...,,,,,,,,,,
9,River Road,2011,84,Guttenberg,,,,,,,...,,,,,,,,,,
10,Iron Horse,2012,95,Sebastopol,,,,,,,...,,,,,,,,,,
11,Loring Wine Company,2012,92,Lompoc,,,,,,,...,,,,,,,,,,
12,Dutton-Goldfield,2013,93,Sebastopol,,,,,,,...,,,,,,,,,,
13,Wait Cellars,2013,91,San Francisco,,,,,,,...,,,,,,,,,,
14,Krutz,2013,92,Santa Rosa,,,,,,,...,,,,,,,,,,
15,Barnett,2013,90,Saint Helena,,,,,,,...,,,,,,,,,,
16,La Crema,2014,93,Windsor,,,,,,,...,,,,,,,,,,
17,En Garde,2014,90,Glen Ellen,,,,,,,...,,,,,,,,,,
18,Ron Rubin,2014,91,Sebastopol,,,,,,,...,,,,,,,,,,
19,MacRostie,2014,90,Healdsburg,,,,,,,...,,,,,,,,,,
20,River Road,2014,90,Guttenberg,,,,,,,...,,,,,,,,,,
21,Ron Rubin,2015,91,Sebastopol,,,,,,,...,,,,,,,,,,

In [18]:
# get names of indexes for which 
# column vintage has years befor 2009 
index_names = uniqueVintCity[uniqueVintCity['vintage'] <= 2008 ].index 
print(index_names)
# drop these row indexes 
# from dataFrame 
uniqueVintCity.drop(index_names, inplace = True)
#uniqueVintCity

Int64Index([0, 1, 2, 3, 4], dtype='int64')

In [19]:
uniqueVintCity

,winery,vintage,points,cities,MarchLowTemp,MarchHighTemp,MarchAvgTemp,MarchPrecip,MarchCloudiness,MarchHumidity,...,JulyAvgTemp,JulyPrecip,JulyCloudiness,JulyHumidity,AugLowTemp,AugHighTemp,AugAvgTemp,AugPrecip,AugCloudiness,AugHumidity
5,Iron Horse,2009,91,Sebastopol,,,,,,,...,,,,,,,,,,
6,Novy,2009,87,Healdsburg,,,,,,,...,,,,,,,,,,
7,Iron Horse,2010,92,Sebastopol,,,,,,,...,,,,,,,,,,
8,Iron Horse,2011,91,Sebastopol,,,,,,,...,,,,,,,,,,
9,River Road,2011,84,Guttenberg,,,,,,,...,,,,,,,,,,
10,Iron Horse,2012,95,Sebastopol,,,,,,,...,,,,,,,,,,
11,Loring Wine Company,2012,92,Lompoc,,,,,,,...,,,,,,,,,,
12,Dutton-Goldfield,2013,93,Sebastopol,,,,,,,...,,,,,,,,,,
13,Wait Cellars,2013,91,San Francisco,,,,,,,...,,,,,,,,,,
14,Krutz,2013,92,Santa Rosa,,,,,,,...,,,,,,,,,,
15,Barnett,2013,90,Saint Helena,,,,,,,...,,,,,,,,,,
16,La Crema,2014,93,Windsor,,,,,,,...,,,,,,,,,,
17,En Garde,2014,90,Glen Ellen,,,,,,,...,,,,,,,,,,
18,Ron Rubin,2014,91,Sebastopol,,,,,,,...,,,,,,,,,,
19,MacRostie,2014,90,Healdsburg,,,,,,,...,,,,,,,,,,
20,River Road,2014,90,Guttenberg,,,,,,,...,,,,,,,,,,
21,Ron Rubin,2015,91,Sebastopol,,,,,,,...,,,,,,,,,,

In [ ]:
import requests
import json
#returnData=[tempHigh/monthDays[month],tempLow/monthDays[month],tempAvg/monthDays[month],precip,humidity/monthDays[month],cloudiness/monthDays[month]]

for index, row in uniqueVintCity.iterrows():
    marchResults=getWeatherData(row['vintage'], row['cities'], "March")
    uniqueVintCity.at[index,"MarchHighTemp"]=marchResults[0]
    uniqueVintCity.at[index,"MarchLowTemp"]=marchResults[1]
    uniqueVintCity.at[index,"MarchAvgTemp"]=marchResults[2]
    uniqueVintCity.at[index,"MarchPrecip"]=marchResults[3]
    uniqueVintCity.at[index,"MarchHumidity"]=marchResults[4]
    uniqueVintCity.at[index,"MarchCloudiness"]=marchResults[5]
    
    print("March done.")
    
    aprilResults=getWeatherData(row['vintage'], row['cities'], "April")
    uniqueVintCity.at[index,"AprilHighTemp"]=aprilResults[0]
    uniqueVintCity.at[index,"AprilLowTemp"]=aprilResults[1]
    uniqueVintCity.at[index,"AprilAvgTemp"]=aprilResults[2]
    uniqueVintCity.at[index,"AprilPrecip"]=aprilResults[3]
    uniqueVintCity.at[index,"AprilHumidity"]=aprilResults[4]
    uniqueVintCity.at[index,"AprilCloudiness"]=aprilResults[5]
    
    print("April done.")
    
    mayResults=getWeatherData(row['vintage'], row['cities'], "May")
    uniqueVintCity.at[index,"MayHighTemp"]=mayResults[0]
    uniqueVintCity.at[index,"MayLowTemp"]=mayResults[1]
    uniqueVintCity.at[index,"MayAvgTemp"]=mayResults[2]
    uniqueVintCity.at[index,"MayPrecip"]=mayResults[3]
    uniqueVintCity.at[index,"MayHumidity"]=mayResults[4]
    uniqueVintCity.at[index,"MayCloudiness"]=mayResults[5]    
    
    print("May done.")
    
    juneResults=getWeatherData(row['vintage'], row['cities'], "June")
    uniqueVintCity.at[index,"JuneHighTemp"]=juneResults[0]
    uniqueVintCity.at[index,"JuneLowTemp"]=juneResults[1]
    uniqueVintCity.at[index,"JuneAvgTemp"]=juneResults[2]
    uniqueVintCity.at[index,"JunePrecip"]=juneResults[3]
    uniqueVintCity.at[index,"JuneHumidity"]=juneResults[4]
    uniqueVintCity.at[index,"JuneCloudiness"]=juneResults[5]
    
    print("June done.")
    
    julyResults=getWeatherData(row['vintage'], row['cities'], "July")
    uniqueVintCity.at[index,"JulyHighTemp"]=julyResults[0]
    uniqueVintCity.at[index,"JulyLowTemp"]=julyResults[1]
    uniqueVintCity.at[index,"JulyAvgTemp"]=julyResults[2]
    uniqueVintCity.at[index,"JulyPrecip"]=julyResults[3]
    uniqueVintCity.at[index,"JulyHumidity"]=julyResults[4]
    uniqueVintCity.at[index,"JulyCloudiness"]=julyResults[5]
    
    print("July done.")
    
    augResults=getWeatherData(row['vintage'], row['cities'], "August")
    uniqueVintCity.at[index,"AugHighTemp"]=augResults[0]
    uniqueVintCity.at[index,"AugLowTemp"]=augResults[1]
    uniqueVintCity.at[index,"AugAvgTemp"]=augResults[2]
    uniqueVintCity.at[index,"AugPrecip"]=augResults[3]
    uniqueVintCity.at[index,"AugHumidity"]=augResults[4]
    uniqueVintCity.at[index,"AugCloudiness"]=augResults[5]
    
    print("August done.")
    
    
uniqueVintCity

March done.
April done.
May done.
June done.
July done.
August done.
March done.
April done.
May done.
June done.
July done.
August done.
March done.
April done.
May done.
June done.
July done.
August done.
March done.
April done.
May done.
June done.
July done.
August done.
March done.
April done.
May done.
June done.
July done.
August done.
March done.
April done.
May done.
June done.
July done.
August done.
March done.
April done.
May done.
June done.
July done.
August done.
March done.
April done.
May done.
June done.
July done.
August done.
March done.
April done.
May done.
June done.
July done.
August done.
March done.
April done.
May done.
June done.
July done.
August done.
March done.
April done.
May done.
June done.
July done.
August done.
March done.
April done.
May done.
June done.
July done.
August done.
March done.
April done.
May done.
June done.
July done.
August done.
March done.
April done.
May done.
June done.
July done.
August done.
March done.
April done.
May done.
June done.
July done.
August done.
March done.
April done.

In [ ]:
uniqueVintCityCSV = uniqueVintCity.to_csv('sonomavalley.csv', index = True)