In [2]:
from flask import Flask, jsonify,  make_response, after_this_request, render_template, redirect, request
from flask_sqlalchemy import SQLAlchemy
import numpy as np
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func
import pandas as pd

In [3]:
engine = create_engine(f"postgresql://postgres:postgres@localhost:5432/WineAndDined")

In [4]:
# reflect an existing database into a new model
Base = automap_base()

# reflect the tables
Base.prepare(engine, reflect=True)

In [5]:
CheeseFlavors = Base.classes.cheeseflavors
CheeseData = Base.classes.cheesedata
FlavorLookups = Base.classes.flavorlookups
WineCheesePairingData = Base.classes.winecheesepairingdata
Wines = Base.classes.wines
Wineries = Base.classes.wineries
WorldMeats = Base.classes.worldmeats

In [6]:
# Create session
session=Session(engine)

In [7]:
tableQ=session.query(Wines.winery, Wines.vintage).filter(Wines.county=="Green Valley").order_by(Wines.vintage)
orderDict=[]
for winery, vintage in tableQ:
    order_dict={}
    order_dict["winery"]=winery
    order_dict["vintage"]=vintage
    orderDict.append(order_dict)
    ##print(county)

session.close()
wineVint=pd.DataFrame.from_dict(orderDict)
wineVint
#print(orderDict)

                 winery  vintage
0            Iron Horse     1997
1            Iron Horse     1997
2            Sebastopol     2000
3            Iron Horse     2006
4            Iron Horse     2006
5            Iron Horse     2007
6   Loring Wine Company     2007
7            Iron Horse     2007
8            Iron Horse     2008
9            Iron Horse     2008
10           Iron Horse     2008
11           Iron Horse     2008
12           Iron Horse     2008
13           Iron Horse     2008
14           Iron Horse     2009
15                 Novy     2009
16               Siduri     2009
17           Iron Horse     2010
18           Iron Horse     2010
19              Sequana     2010
20           Iron Horse     2011
21           Iron Horse     2011
22           River Road     2011
23           Iron Horse     2012
24           Iron Horse     2012
25     Dutton-Goldfield     2012
26           Iron Horse     2012
27           Iron Horse     2012
28  Loring Wine Company     2012
29     Dutton-Goldfield     2013
30         Wait Cellars     2013
31                Krutz     2013
32           Iron Horse     2013
33     Dutton-Goldfield     2013
34              Barnett     2013
35             La Crema     2014
36             En Garde     2014
37            Ron Rubin     2014
38            MacRostie     2014
39           River Road     2014
40           River Road     2014
41           Iron Horse     2014
42     Dutton-Goldfield     2014
43           Iron Horse     2014
44       Tessier Winery     2015
45            Ron Rubin     2015

In [8]:
justWineries=session.query(Wines.winery).filter(Wines.county=="Green Valley").group_by(Wines.winery)
wineDict=[]
for winery in justWineries:
    order_dict={}
    order_dict["winery"]=winery
    wineDict.append(order_dict)
    print(winery)

session.close()
#print(wineDict)

('Barnett',)
('Dutton-Goldfield',)
('En Garde',)
('Iron Horse',)
('Krutz',)
('La Crema',)
('Loring Wine Company',)
('MacRostie',)
('Novy',)
('River Road',)
('Ron Rubin',)
('Sebastopol',)
('Sequana',)
('Siduri',)
('Tessier Winery',)
('Wait Cellars',)

In [9]:
wineries = pd.DataFrame.from_dict(justWineries)
wineries=wineries.drop(11)
wineries=wineries.drop(14)
wineries

                 winery
0               Barnett
1      Dutton-Goldfield
2              En Garde
3            Iron Horse
4                 Krutz
5              La Crema
6   Loring Wine Company
7             MacRostie
8                  Novy
9            River Road
10            Ron Rubin
12              Sequana
13               Siduri
15         Wait Cellars

In [10]:
cities=["Saint Helena", "Sebastopol", " Glen Ellen","Sebastopol", "Santa Rosa", "Windsor", "Lompoc", "Healdsburg", "Healdsburg", "Guttenberg", "Sebastopol", "Sebastopol", "Healdsburg", "San Francisco"]

In [11]:
wineries['cities']=cities
wineries

                 winery         cities
0               Barnett   Saint Helena
1      Dutton-Goldfield     Sebastopol
2              En Garde     Glen Ellen
3            Iron Horse     Sebastopol
4                 Krutz     Santa Rosa
5              La Crema        Windsor
6   Loring Wine Company         Lompoc
7             MacRostie     Healdsburg
8                  Novy     Healdsburg
9            River Road     Guttenberg
10            Ron Rubin     Sebastopol
12              Sequana     Sebastopol
13               Siduri     Healdsburg
15         Wait Cellars  San Francisco

In [13]:
wineVint= pd.merge(wineVint, wineries, how='left', on='winery')
wineVint = wineVint.dropna(subset=['cities'])
wineVint

                 winery  vintage         cities
0            Iron Horse     1997     Sebastopol
1            Iron Horse     1997     Sebastopol
3            Iron Horse     2006     Sebastopol
4            Iron Horse     2006     Sebastopol
5            Iron Horse     2007     Sebastopol
6   Loring Wine Company     2007         Lompoc
7            Iron Horse     2007     Sebastopol
8            Iron Horse     2008     Sebastopol
9            Iron Horse     2008     Sebastopol
10           Iron Horse     2008     Sebastopol
11           Iron Horse     2008     Sebastopol
12           Iron Horse     2008     Sebastopol
13           Iron Horse     2008     Sebastopol
14           Iron Horse     2009     Sebastopol
15                 Novy     2009     Healdsburg
16               Siduri     2009     Healdsburg
17           Iron Horse     2010     Sebastopol
18           Iron Horse     2010     Sebastopol
19              Sequana     2010     Sebastopol
20           Iron Horse     2011     Sebastopol
21           Iron Horse     2011     Sebastopol
22           River Road     2011     Guttenberg
23           Iron Horse     2012     Sebastopol
24           Iron Horse     2012     Sebastopol
25     Dutton-Goldfield     2012     Sebastopol
26           Iron Horse     2012     Sebastopol
27           Iron Horse     2012     Sebastopol
28  Loring Wine Company     2012         Lompoc
29     Dutton-Goldfield     2013     Sebastopol
30         Wait Cellars     2013  San Francisco
31                Krutz     2013     Santa Rosa
32           Iron Horse     2013     Sebastopol
33     Dutton-Goldfield     2013     Sebastopol
34              Barnett     2013   Saint Helena
35             La Crema     2014        Windsor
36             En Garde     2014     Glen Ellen
37            Ron Rubin     2014     Sebastopol
38            MacRostie     2014     Healdsburg
39           River Road     2014     Guttenberg
40           River Road     2014     Guttenberg
41           Iron Horse     2014     Sebastopol
42     Dutton-Goldfield     2014     Sebastopol
43           Iron Horse     2014     Sebastopol
45            Ron Rubin     2015     Sebastopol

In [14]:
uniqueVintCity = wineVint.drop_duplicates(subset=['vintage', 'cities'], keep='first').reset_index()
#uniqueVintCity=uniqueVintCity.drop(columns=['index', 'winery'], inplace=True)
uniqueVintCity

    index               winery  vintage         cities
0       0           Iron Horse     1997     Sebastopol
1       3           Iron Horse     2006     Sebastopol
2       5           Iron Horse     2007     Sebastopol
3       6  Loring Wine Company     2007         Lompoc
4       8           Iron Horse     2008     Sebastopol
5      14           Iron Horse     2009     Sebastopol
6      15                 Novy     2009     Healdsburg
7      17           Iron Horse     2010     Sebastopol
8      20           Iron Horse     2011     Sebastopol
9      22           River Road     2011     Guttenberg
10     23           Iron Horse     2012     Sebastopol
11     28  Loring Wine Company     2012         Lompoc
12     29     Dutton-Goldfield     2013     Sebastopol
13     30         Wait Cellars     2013  San Francisco
14     31                Krutz     2013     Santa Rosa
15     34              Barnett     2013   Saint Helena
16     35             La Crema     2014        Windsor
17     36             En Garde     2014     Glen Ellen
18     37            Ron Rubin     2014     Sebastopol
19     38            MacRostie     2014     Healdsburg
20     39           River Road     2014     Guttenberg
21     45            Ron Rubin     2015     Sebastopol

In [15]:
import requests
import json

In [52]:
apiKey='d20bc43719714d2a9a410907210203'
city='Sebastopol'
year='2015'
startDate=f'{year}-03-01'
endDate=f'{year}-08-31'
apiURL=f'http://api.worldweatheronline.com/premium/v1/past-weather.ashx?key={apiKey}&q={city}&format=json&date={startDate}&enddate={endDate}&tp=24'
print(apiURL)

http://api.worldweatheronline.com/premium/v1/past-weather.ashx?key=d20bc43719714d2a9a410907210203&q=Sebastopol&format=json&date=2015-03-01&enddate=2015-08-31&tp=24

In [53]:
weather = requests.get(apiURL).json()

In [66]:
print(len(weather['data']['weather']))

35

In [45]:
precip=0
tempLow=0
tempHigh=0
tempAvg=0
cloudiness=0
humidity=0
for x in range(0,31):
    tempHigh+=int(weather['data']['weather'][x]['maxtempF'])
    tempLow+=int(weather['data']['weather'][x]['mintempF'])
    tempAvg+=int(weather['data']['weather'][x]['avgtempF'])
    precip+=float(weather['data']['weather'][x]['hourly'][0]['precipInches'])
    humidity+=int(weather['data']['weather'][x]['hourly'][0]['humidity'])
    cloudiness+=int(weather['data']['weather'][x]['hourly'][0]['cloudcover'])
print("March data:")
print (tempLow/31, tempHigh/31, tempAvg/31, precip, cloudiness/31, humidity/31)
    
precip=0
tempLow=0
tempHigh=0
tempAvg=0
cloudiness=0
humidity=0
for x in range(31,61):
    tempHigh+=int(weather['data']['weather'][x]['maxtempF'])
    tempLow+=int(weather['data']['weather'][x]['mintempF'])
    tempAvg+=int(weather['data']['weather'][x]['avgtempF'])
    precip+=float(weather['data']['weather'][x]['hourly'][0]['precipInches'])
    humidity+=int(weather['data']['weather'][x]['hourly'][0]['humidity'])
    cloudiness+=int(weather['data']['weather'][x]['hourly'][0]['cloudcover'])
print("April data:")
print (tempLow/31, tempHigh/31, tempAvg/31, precip, cloudiness/31, humidity/31)

49.61290322580645 69.12903225806451 61.54838709677419 0.5 47.83870967741935 68.87096774193549

In [72]:
year='2015'
city='Sebastopol'
months=["March", "April", "May", "June", "July", "August"]
monthNum=['03','04','05', '06', '07', '08']
monthDay=['31','30','31','30','31','31']
apiKey='d20bc43719714d2a9a410907210203'
for i in range(0,6):
    startDate=f'{year}-{monthNum[i]}-01'
    endDate=f'{year}-{monthNum[i]}-{monthDay[i]}'
    apiURL=f'http://api.worldweatheronline.com/premium/v1/past-weather.ashx?key={apiKey}&q={city}&format=json&date={startDate}&enddate={endDate}&tp=24'
    weather = requests.get(apiURL).json()
    precip=0
    tempLow=0
    tempHigh=0
    tempAvg=0
    cloudiness=0
    humidity=0
    for x in range(0,int(monthDay[i])):
        tempHigh+=int(weather['data']['weather'][x]['maxtempF'])
        tempLow+=int(weather['data']['weather'][x]['mintempF'])
        tempAvg+=int(weather['data']['weather'][x]['avgtempF'])
        precip+=float(weather['data']['weather'][x]['hourly'][0]['precipInches'])
        humidity+=int(weather['data']['weather'][x]['hourly'][0]['humidity'])
        cloudiness+=int(weather['data']['weather'][x]['hourly'][0]['cloudcover'])
    print(f'{months[i]} Data:')
    print (tempLow/int(monthDay[i]), tempHigh/int(monthDay[i]), tempAvg/int(monthDay[i]), precip, cloudiness/int(monthDay[i]), humidity/int(monthDay[i]))

March Data:
49.61290322580645 69.12903225806451 61.54838709677419 0.5 47.83870967741935 68.87096774193549
April Data:
44.96666666666667 59.63333333333333 53.96666666666667 1.0999999999999999 63.53333333333333 78.36666666666666
May Data:
43.25806451612903 54.225806451612904 50.03225806451613 2.2000000000000006 65.09677419354838 81.48387096774194
June Data:
38.666666666666664 51.4 46.7 0.5 70.26666666666667 86.53333333333333
July Data:
36.32258064516129 48.12903225806452 43.70967741935484 2.6000000000000005 66.96774193548387 84.70967741935483
August Data:
36.935483870967744 50.064516129032256 45.225806451612904 2.2 75.38709677419355 84.64516129032258

In [24]:
def getWeatherData(year, city, month):
    monthDays={"March":31,"April":30,"May":31,"June":30,"July":31,"August":31}
    monthNum={"March":'03',"April":'04',"May":'05',"June":'06',"July":'07',"August":'08'}
    startDate=f'{year}-{monthNum[month]}-01'
    endDate=f'{year}-{monthNum[month]}-{monthDays[month]}'
    apiKey='d20bc43719714d2a9a410907210203'
    apiURL=f'http://api.worldweatheronline.com/premium/v1/past-weather.ashx?key={apiKey}&q={city}&format=json&date={startDate}&enddate={endDate}&tp=24'
    weather = requests.get(apiURL).json()
    precip=0
    tempLow=0
    tempHigh=0
    tempAvg=0
    cloudiness=0
    humidity=0
    for x in range(0,monthDays[month]):
        tempHigh+=int(weather['data']['weather'][x]['maxtempF'])
        tempLow+=int(weather['data']['weather'][x]['mintempF'])
        tempAvg+=int(weather['data']['weather'][x]['avgtempF'])
        precip+=float(weather['data']['weather'][x]['hourly'][0]['precipInches'])
        humidity+=int(weather['data']['weather'][x]['hourly'][0]['humidity'])
        cloudiness+=int(weather['data']['weather'][x]['hourly'][0]['cloudcover'])
    returnData=[tempHigh/monthDays[month],tempLow/monthDays[month],tempAvg/monthDays[month],precip,humidity/monthDays[month],cloudiness/monthDays[month]]
    return returnData

In [16]:
uniqueVintCity["MarchLowTemp"]=""
uniqueVintCity["MarchHighTemp"]=""
uniqueVintCity["MarchAvgTemp"]=""
uniqueVintCity["MarchPrecip"]=""
uniqueVintCity["MarchCloudiness"]=""
uniqueVintCity["MarchHumidity"]=""

uniqueVintCity["AprilLowTemp"]=""
uniqueVintCity["AprilHighTemp"]=""
uniqueVintCity["AprilAvgTemp"]=""
uniqueVintCity["AprilPrecip"]=""
uniqueVintCity["AprilCloudiness"]=""
uniqueVintCity["AprilHumidity"]=""

uniqueVintCity["MayLowTemp"]=""
uniqueVintCity["MayHighTemp"]=""
uniqueVintCity["MayAvgTemp"]=""
uniqueVintCity["MayPrecip"]=""
uniqueVintCity["MayCloudiness"]=""
uniqueVintCity["MayHumidity"]=""

uniqueVintCity["MayLowTemp"]=""
uniqueVintCity["MayHighTemp"]=""
uniqueVintCity["MayAvgTemp"]=""
uniqueVintCity["MayPrecip"]=""
uniqueVintCity["MayCloudiness"]=""
uniqueVintCity["MayHumidity"]=""

uniqueVintCity["JuneLowTemp"]=""
uniqueVintCity["JuneHighTemp"]=""
uniqueVintCity["JuneAvgTemp"]=""
uniqueVintCity["JunePrecip"]=""
uniqueVintCity["JuneCloudiness"]=""
uniqueVintCity["JuneHumidity"]=""

uniqueVintCity["JulyLowTemp"]=""
uniqueVintCity["JulyHighTemp"]=""
uniqueVintCity["JulyAvgTemp"]=""
uniqueVintCity["JulyPrecip"]=""
uniqueVintCity["JulyCloudiness"]=""
uniqueVintCity["JulyHumidity"]=""

uniqueVintCity["AugLowTemp"]=""
uniqueVintCity["AugHighTemp"]=""
uniqueVintCity["AugAvgTemp"]=""
uniqueVintCity["AugPrecip"]=""
uniqueVintCity["AugCloudiness"]=""
uniqueVintCity["AugHumidity"]=""

uniqueVintCity

,index,winery,vintage,cities,MarchLowTemp,MarchHighTemp,MarchAvgTemp,MarchPrecip,MarchCloudiness,MarchHumidity,...,JulyAvgTemp,JulyPrecip,JulyCloudiness,JulyHumidity,AugLowTemp,AugHighTemp,AugAvgTemp,AugPrecip,AugCloudiness,AugHumidity
0,0,Iron Horse,1997,Sebastopol,,,,,,,...,,,,,,,,,,
1,3,Iron Horse,2006,Sebastopol,,,,,,,...,,,,,,,,,,
2,5,Iron Horse,2007,Sebastopol,,,,,,,...,,,,,,,,,,
3,6,Loring Wine Company,2007,Lompoc,,,,,,,...,,,,,,,,,,
4,8,Iron Horse,2008,Sebastopol,,,,,,,...,,,,,,,,,,
5,14,Iron Horse,2009,Sebastopol,,,,,,,...,,,,,,,,,,
6,15,Novy,2009,Healdsburg,,,,,,,...,,,,,,,,,,
7,17,Iron Horse,2010,Sebastopol,,,,,,,...,,,,,,,,,,
8,20,Iron Horse,2011,Sebastopol,,,,,,,...,,,,,,,,,,
9,22,River Road,2011,Guttenberg,,,,,,,...,,,,,,,,,,
10,23,Iron Horse,2012,Sebastopol,,,,,,,...,,,,,,,,,,
11,28,Loring Wine Company,2012,Lompoc,,,,,,,...,,,,,,,,,,
12,29,Dutton-Goldfield,2013,Sebastopol,,,,,,,...,,,,,,,,,,
13,30,Wait Cellars,2013,San Francisco,,,,,,,...,,,,,,,,,,
14,31,Krutz,2013,Santa Rosa,,,,,,,...,,,,,,,,,,
15,34,Barnett,2013,Saint Helena,,,,,,,...,,,,,,,,,,
16,35,La Crema,2014,Windsor,,,,,,,...,,,,,,,,,,
17,36,En Garde,2014,Glen Ellen,,,,,,,...,,,,,,,,,,
18,37,Ron Rubin,2014,Sebastopol,,,,,,,...,,,,,,,,,,
19,38,MacRostie,2014,Healdsburg,,,,,,,...,,,,,,,,,,
20,39,River Road,2014,Guttenberg,,,,,,,...,,,,,,,,,,
21,45,Ron Rubin,2015,Sebastopol,,,,,,,...,,,,,,,,,,

In [18]:
# get names of indexes for which 
# column Age has value 21 
index_names = uniqueVintCity[uniqueVintCity['vintage'] <= 2008 ].index 
print(index_names)
# drop these row indexes 
# from dataFrame 
uniqueVintCity.drop(index_names, inplace = True)
#uniqueVintCity

Int64Index([0, 1, 2, 3, 4], dtype='int64')

In [21]:
uniqueVintCity.head()

,index,winery,vintage,cities,MarchLowTemp,MarchHighTemp,MarchAvgTemp,MarchPrecip,MarchCloudiness,MarchHumidity,...,JulyAvgTemp,JulyPrecip,JulyCloudiness,JulyHumidity,AugLowTemp,AugHighTemp,AugAvgTemp,AugPrecip,AugCloudiness,AugHumidity
5,14,Iron Horse,2009,Sebastopol,,,,,,,...,,,,,,,,,,
6,15,Novy,2009,Healdsburg,,,,,,,...,,,,,,,,,,
7,17,Iron Horse,2010,Sebastopol,,,,,,,...,,,,,,,,,,
8,20,Iron Horse,2011,Sebastopol,,,,,,,...,,,,,,,,,,
9,22,River Road,2011,Guttenberg,,,,,,,...,,,,,,,,,,

In [25]:
import requests
import json
#returnData=[tempHigh/monthDays[month],tempLow/monthDays[month],tempAvg/monthDays[month],precip,humidity/monthDays[month],cloudiness/monthDays[month]]

for index, row in uniqueVintCity.iterrows():
    marchResults=getWeatherData(row['vintage'], row['cities'], "March")
    uniqueVintCity.at[index,"MarchHighTemp"]=marchResults[0]
    uniqueVintCity.at[index,"MarchLowTemp"]=marchResults[1]
    uniqueVintCity.at[index,"MarchAvgTemp"]=marchResults[2]
    uniqueVintCity.at[index,"MarchPrecip"]=marchResults[3]
    uniqueVintCity.at[index,"MarchHumidity"]=marchResults[4]
    uniqueVintCity.at[index,"MarchCloudiness"]=marchResults[5]
    
    print("March done.")
    
    aprilResults=getWeatherData(row['vintage'], row['cities'], "April")
    uniqueVintCity.at[index,"AprilHighTemp"]=aprilResults[0]
    uniqueVintCity.at[index,"AprilLowTemp"]=aprilResults[1]
    uniqueVintCity.at[index,"AprilAvgTemp"]=aprilResults[2]
    uniqueVintCity.at[index,"AprilPrecip"]=aprilResults[3]
    uniqueVintCity.at[index,"AprilHumidity"]=aprilResults[4]
    uniqueVintCity.at[index,"AprilCloudiness"]=aprilResults[5]
    
    print("April done.")
    
    mayResults=getWeatherData(row['vintage'], row['cities'], "May")
    uniqueVintCity.at[index,"MayHighTemp"]=mayResults[0]
    uniqueVintCity.at[index,"MayLowTemp"]=mayResults[1]
    uniqueVintCity.at[index,"MayAvgTemp"]=mayResults[2]
    uniqueVintCity.at[index,"MayPrecip"]=mayResults[3]
    uniqueVintCity.at[index,"MayHumidity"]=mayResults[4]
    uniqueVintCity.at[index,"MayCloudiness"]=mayResults[5]    
    
    print("May done.")
    
    juneResults=getWeatherData(row['vintage'], row['cities'], "June")
    uniqueVintCity.at[index,"JuneHighTemp"]=juneResults[0]
    uniqueVintCity.at[index,"JuneLowTemp"]=juneResults[1]
    uniqueVintCity.at[index,"JuneAvgTemp"]=juneResults[2]
    uniqueVintCity.at[index,"JunePrecip"]=juneResults[3]
    uniqueVintCity.at[index,"JuneHumidity"]=juneResults[4]
    uniqueVintCity.at[index,"JuneCloudiness"]=juneResults[5]
    
    print("June done.")
    
    julyResults=getWeatherData(row['vintage'], row['cities'], "July")
    uniqueVintCity.at[index,"JulyHighTemp"]=julyResults[0]
    uniqueVintCity.at[index,"JulyLowTemp"]=julyResults[1]
    uniqueVintCity.at[index,"JulyAvgTemp"]=julyResults[2]
    uniqueVintCity.at[index,"JulyPrecip"]=julyResults[3]
    uniqueVintCity.at[index,"JulyHumidity"]=julyResults[4]
    uniqueVintCity.at[index,"JulyCloudiness"]=julyResults[5]
    
    print("July done.")
    
    augResults=getWeatherData(row['vintage'], row['cities'], "August")
    uniqueVintCity.at[index,"AugHighTemp"]=augResults[0]
    uniqueVintCity.at[index,"AugLowTemp"]=augResults[1]
    uniqueVintCity.at[index,"AugAvgTemp"]=augResults[2]
    uniqueVintCity.at[index,"AugPrecip"]=augResults[3]
    uniqueVintCity.at[index,"AugHumidity"]=augResults[4]
    uniqueVintCity.at[index,"AugCloudiness"]=augResults[5]
    
    print("August done.")
    
    
uniqueVintCity

March done.
April done.
May done.
June done.
July done.
August done.
March done.
April done.
May done.
June done.
July done.
August done.
March done.
April done.
May done.
June done.
July done.
August done.
March done.
April done.
May done.
June done.
July done.
August done.
March done.
April done.
May done.
June done.
July done.
August done.
March done.
April done.
May done.
June done.
July done.
August done.
March done.
April done.
May done.
June done.
July done.
August done.
March done.
April done.
May done.
June done.
July done.
August done.
March done.
April done.
May done.
June done.
July done.
August done.
March done.
April done.
May done.
June done.
July done.
August done.
March done.
April done.
May done.
June done.
July done.
August done.
March done.
April done.
May done.
June done.
July done.
August done.
March done.
April done.
May done.
June done.
July done.
August done.
March done.
April done.
May done.
June done.
July done.
August done.
March done.
April done.
May done.
June done.
July done.
August done.
March done.
April done.
May done.
June done.
July done.
August done.
March done.
April done.
May done.
June done.
July done.
August done.

,index,winery,vintage,cities,MarchLowTemp,MarchHighTemp,MarchAvgTemp,MarchPrecip,MarchCloudiness,MarchHumidity,...,JulyAvgTemp,JulyPrecip,JulyCloudiness,JulyHumidity,AugLowTemp,AugHighTemp,AugAvgTemp,AugPrecip,AugCloudiness,AugHumidity
5,14,Iron Horse,2009,Sebastopol,49.903226,71.322581,63.258065,2.3,46.354839,71.225806,...,47.129032,4.2,69.258065,87.322581,41.483871,55.516129,50.225806,5.1,67.419355,81.774194
6,15,Novy,2009,Healdsburg,41.548387,60.677419,53.193548,5.7,26.129032,70.935484,...,75.903226,0.0,2.580645,52.064516,55.451613,82.83871,73.935484,0.1,4.967742,54.612903
7,17,Iron Horse,2010,Sebastopol,52.935484,72.419355,64.903226,5.5,42.741935,72.870968,...,46.677419,1.9,74.16129,90.483871,36.548387,50.032258,44.806452,7.8,79.741935,91.290323
8,20,Iron Horse,2011,Sebastopol,50.806452,68.451613,61.677419,2.7,56.064516,79.483871,...,46.225806,1.5,75.258065,90.096774,39.774194,56.580645,50.258065,4.2,65.741935,86.258065
9,22,River Road,2011,Guttenberg,32.451613,44.290323,39.580645,8.6,40.83871,78.548387,...,79.354839,6.6,20.387097,77.645161,67.225806,80.935484,75.419355,18.6,24.741935,79.451613
10,23,Iron Horse,2012,Sebastopol,50.322581,68.322581,61.645161,1.7,48.548387,75.806452,...,45.903226,2.4,80.612903,91.193548,37.83871,52.225806,46.483871,2.4,79.419355,87.516129
11,28,Loring Wine Company,2012,Lompoc,47.870968,59.677419,55.193548,1.9,19.709677,71.290323,...,64.419355,0.3,7.451613,77.580645,61.548387,72.096774,68.322581,0.2,3.290323,68.709677
12,29,Dutton-Goldfield,2013,Sebastopol,53.806452,75.516129,67.483871,1.1,36.064516,63.354839,...,46.903226,2.8,72.322581,89.967742,39.580645,52.83871,47.774194,3.1,76.806452,89.451613
13,30,Wait Cellars,2013,San Francisco,47.129032,62.774194,56.709677,1.2,28.806452,74.129032,...,68.483871,0.1,6.16129,71.806452,57.580645,73.516129,67.967742,0.1,11.741935,75.16129
14,31,Krutz,2013,Santa Rosa,75.935484,90.064516,84.83871,1.3,27.516129,75.967742,...,84.967742,9.2,39.387097,82.129032,77.612903,87.258065,83.645161,10.4,44.258065,83.612903
15,34,Barnett,2013,Saint Helena,72.935484,75.0,73.806452,0.1,64.096774,78.225806,...,68.741935,1.4,58.258065,73.580645,65.451613,70.322581,67.419355,0.8,81.612903,77.870968
16,35,La Crema,2014,Windsor,21.064516,33.193548,28.806452,2.2,55.645161,85.451613,...,68.935484,6.9,28.032258,80.16129,62.645161,76.129032,71.096774,8.0,25.096774,81.483871
17,36,En Garde,2014,Glen Ellen,24.870968,42.612903,35.451613,1.0,45.064516,71.225806,...,72.483871,1.8,22.709677,77.129032,61.0,80.129032,73.225806,4.2,38.83871,83.903226
18,37,Ron Rubin,2014,Sebastopol,51.709677,72.516129,64.612903,2.5,43.225806,70.709677,...,45.419355,2.2,75.032258,89.870968,36.032258,55.483871,47.741935,0.2,63.483871,83.774194
19,38,MacRostie,2014,Healdsburg,42.322581,64.483871,56.322581,6.5,38.516129,72.774194,...,76.709677,0.0,11.645161,60.83871,54.451613,83.16129,73.225806,0.1,8.322581,64.419355
20,39,River Road,2014,Guttenberg,27.903226,41.032258,36.451613,6.3,45.612903,75.935484,...,75.741935,9.5,26.129032,77.967742,64.612903,79.419355,74.193548,3.7,27.064516,74.645161
21,45,Ron Rubin,2015,Sebastopol,49.612903,69.129032,61.548387,0.5,47.83871,68.870968,...,43.709677,2.6,66.967742,84.709677,36.935484,50.064516,45.225806,2.2,75.387097,84.645161

In [ ]:
uniqueVintCityCSV = uniqueVintCity.to_csv('sonomavalley.csv', index = True)