In [5]:
from flask import Flask, jsonify,  make_response, after_this_request, render_template, redirect, request
from flask_sqlalchemy import SQLAlchemy
import numpy as np
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func
import pandas as pd

In [6]:
engine = create_engine(f"postgresql://postgres:Deez^nout3@localhost:5432/WineAndDined")
# reflect an existing database into a new model
Base = automap_base()

# reflect the tables
Base.prepare(engine, reflect=True)

In [7]:
CheeseFlavors = Base.classes.cheeseflavors
CheeseData = Base.classes.cheesedata
FlavorLookups = Base.classes.flavorlookups
WineCheesePairingData = Base.classes.winecheesepairingdata
Wines = Base.classes.wines
Wineries = Base.classes.wineries
WorldMeats = Base.classes.worldmeats

In [8]:
# Create session
session=Session(engine)

In [9]:
# pull all wineries and vintage information for wineries in California
tableQ=session.query(Wines.winery, Wines.vintage).filter(Wines.province=="California").order_by(Wines.vintage)
orderDict=[]
for winery, vintage in tableQ:
    order_dict={}
    order_dict["winery"]=winery
    order_dict["vintage"]=vintage
    orderDict.append(order_dict)
    ##print(county)

session.close()
wineVint=pd.DataFrame.from_dict(orderDict)
wineVint
#print(orderDict)

             winery  vintage
0        Sebastiani     1987
1        Iron Horse     1991
2     Gloria Ferrer     1992
3      Pacific Echo     1992
4          Gan Eden     1994
...             ...      ...
6946          Baily     2016
6947   Folie à Deux     2016
6948   Bennett Lane     2016
6949       Flanagan     2016
6950         Zanoli     2016

[6951 rows x 2 columns]

In [10]:
# drop any rows with no winery information
wineVint = wineVint.dropna(subset=['winery'])
wineVint

             winery  vintage
0        Sebastiani     1987
1        Iron Horse     1991
2     Gloria Ferrer     1992
3      Pacific Echo     1992
4          Gan Eden     1994
...             ...      ...
6946          Baily     2016
6947   Folie à Deux     2016
6948   Bennett Lane     2016
6949       Flanagan     2016
6950         Zanoli     2016

[6951 rows x 2 columns]

In [11]:
# delete duplicates of winery and vintage
wineVint = wineVint.drop_duplicates(subset=['winery','vintage'], keep='first').reset_index()
wineVint

      index         winery  vintage
0         0     Sebastiani     1987
1         1     Iron Horse     1991
2         2  Gloria Ferrer     1992
3         3   Pacific Echo     1992
4         4       Gan Eden     1994
...     ...            ...      ...
5220   6946          Baily     2016
5221   6947   Folie à Deux     2016
5222   6948   Bennett Lane     2016
5223   6949       Flanagan     2016
5224   6950         Zanoli     2016

[5225 rows x 3 columns]

In [12]:
# drop extra columns
wineVint.drop(columns=['index'], inplace=True)
wineVint

             winery  vintage
0        Sebastiani     1987
1        Iron Horse     1991
2     Gloria Ferrer     1992
3      Pacific Echo     1992
4          Gan Eden     1994
...             ...      ...
5220          Baily     2016
5221   Folie à Deux     2016
5222   Bennett Lane     2016
5223       Flanagan     2016
5224         Zanoli     2016

[5225 rows x 2 columns]

In [13]:
# save new df for just winery info
calWineries=wineVint.drop_duplicates(subset=['winery'], keep='first').reset_index()
# delete extra columns
calWineries.drop(columns=['index','vintage'], inplace=True)
calWineries

             winery
0        Sebastiani
1        Iron Horse
2     Gloria Ferrer
3      Pacific Echo
4          Gan Eden
...             ...
2217   Sans Wine Co
2218        Day Owl
2219       Belharra
2220          Baily
2221         Zanoli

[2222 rows x 1 columns]

In [14]:
# add a column for cities
calWineries["cities"]=""
calWineries

             winery cities
0        Sebastiani
1        Iron Horse
2     Gloria Ferrer
3      Pacific Echo
4          Gan Eden
...             ...    ...
2217   Sans Wine Co
2218        Day Owl
2219       Belharra
2220          Baily
2221         Zanoli

[2222 rows x 2 columns]

In [ ]:
for index, row in calWineries.iterrows():
    print(row['winery'])
    userInput=input("city: ")
    calWineries.at[index,'cities']=userInput

Sebastiani
city:
Iron Horse